<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../public/css/home.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Fredoka+One&display=swap" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">

</head>
<body>
    <div class="container-class">
        <div class="home-page">
            <div class="home-title">
                <h1>Big Bites</h1>
                <div class="navbar">
                    <form action="/summary" method="post">
                    <img src="../public/image/cart.png" alt="cart"></form>
                    <div class="search-bar">
                        <input type="text" placeholder="What are you craving?">
                    </div>
                </div>
            </div>
            <div class="food-category">
                <div class="bakery-category">
                    <h2>Bakery</h2>
                    <div class="bakery-items">
                        <div class="items">
                            <div class="bread">
                                <form action="/bread" method="post">
                                <img src="../public/image/bread.jpeg" alt="bread" class="img-opacity">
                                <a href="" class="name">Bread</a></form>
                            </div>
                            <div class="pastries">
                                <form action="/pastries" method="post">
                                <a href="pastries.html"><img src="../public/image/croissant.png" alt="pastries" class="img-opacity"></a>
                                <a href="pastries.html" class="name">Pastry</a></form>
                            </div>
                            <div class="cakes">
                                <form action="/cakes" method="post">
                                <a href="cakes.html"><img src="../public/image/cake.jpg" alt="cakes" class="img-opacity"></a>
                                <a href="cakes.html" class="name">Cake</a></form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="drinks-category">
                    <h2>Drinks</h2>
                    <div class="drink-items">
                        <div class="items1">
                            <div class="coffee">
                                <form action="/coffee" method="post">
                                <a href=""><img src="../public/image/item_coffee.jpg" alt="coffee" class="img-opacity"></a>
                                <a href="" class="name">Coffee</a></form>
                            </div>
                            <div class="juicesmoothies">
                                <form action="/smootie" method="post">
                                <a href="juicesmoothies.html"><img src="../public/image/smoothie.png" alt="JuiceSmoothies" class="img-opacity"></a>
                                <a href="juicesmoothies.html" class="name">Smoothies</a></form>
                            </div>
                            <div class="tea">
                                <form action="/tea" method="post">
                                <a href=""><img src="../public/image/tea.jpg" alt="tea" class="img-opacity"></a>
                                <a href="" class="name">Tea</a></form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>