@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
.container-fluid{
    background-color: black;
}
.info-content,.Info-form,.info-input{
    display: grid;
}
.info-content{
    position: relative;
    height: 100vh;
    align-items: center;
    margin: 0;
}
.info-img{
    background: url(../image/bg-info.png);
    position: absolute;
    height: 100%;
    width: 100%;
}
.Info-form{
    position: relative;
    color: white;
    padding: 1rem;
    object-position: center;
    

}
.info-title{
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
    color: rgb(216 113 22);
    font-family: 'Rubik', sans-serif;
    
}
.info-input{
    width: 100%;
    padding: 15px 12px;
    border-radius: 10px;
    border: solid 2px #a8a19b;
    background-color:whitesmoke;
    padding-right: 36px;
    margin-bottom: 0.75rem;
}
.info-input::placeholder{
    color: #a59f9a;
}
.confirm-btn{
    width: 50%;
    border-radius: 0.5rem;
    padding: 10px 0px 10px 0px ;
    background-color: #ce8f57;
    color: aliceblue;
    border: rgb(243, 239, 231) solid 1px;
    object-position: center;
    margin-inline: 25%;
}
.name-form{
    display: flex;
    column-gap: 0.75rem;
}
#address{
    width: 100%;
    padding: 15px 12px;
    border-radius: 10px;
    border: solid 2px #ce8f57;
    background-color:whitesmoke;
    padding-right: 36px;
    margin-bottom: 0.75rem;

}
.input-form{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

/*For medium and small device*/
@media screen and (min-width:576px) and (max-width:991.98px)  {
    .info-img{
        background-image: url(../image/info.jpeg);
        background-repeat: no-repeat;
        position: absolute;
    }
    .Info-form{
        justify-self: center;
    }


}
  
/*For large device*/
@media screen and (min-width:992px) {
    
    .container-fluid{
        height: 100vh;
        display: grid;
        place-items: center;
    }
    .info-content{
        width: 1100px;
        height: 600px;
    }
    .Info-form{
        justify-self: flex-end;
    }
    .info-img{
        background-size: 90% 100%;
        background-repeat: no-repeat;
    }

    
}
  


