name: Deploy frontend application
on:
  push:
    branches:
      - main
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: prepare the docker-compose run
        run: |
          ls -l
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: nureman/234-deploy-frontend:latest
      - name: prepare the docker-compose run
        run: |
          mkdir 234-deploy-frontend
          cp docker-compose.yml 234-deploy-frontend/docker-compose.yml
          cd 234-deploylab-frontend
          docker-compose -H ${{ secrets.HOST_SERVER }} down
          docker-compose -H ${{ secrets.HOST_SERVER }} pull
          docker-compose -H ${{ secrets.HOST_SERVER }} up -d